# Файлы окружения
.env
.env.* 

# Папки с логами и кешем
/var/
/var/cache/
/var/log/

# Папка с зависимостями Composer
/vendor/

# Папки, автоматически генерируемые при сборке
/public/bundles/
/public/build/

# Docker override файлы
compose.override.yaml

# Локальные настройки IDE
.idea/
*.iml

# Скомпилированные файлы
/node_modules/
